<h1>Enter this contact's information</h1>

<form action="/contact/new" method="post">
  <label for="name-input">Name</label>
  <input type="text" name="name-input" id="name-input">
  <br>
  <label for="phone-input">Phone</label>
  <input type="text" name="phone-input" id="phone-input">
  <br>
  <label for="street-input">Street</label>
  <input type="text" name="street-input" id="street-input">
  <br>
  <label for="city-input">City</label>
  <input type="text" name="city-input" id="city-input">
  <br>
  <label for="state-input">State</label>
  <input type="text" name="state-input" id="state-input">
  <br>

  <button type="submit">Add contact</button>
</form>

<p><a href="/">Back</a></p>
