@{
  Layout = "_Layout";
}

<div class="jumbotron">
  <h1>Enter this contact's information</h1>
</div>

<div class="well">
  <form action="/contact/new" method="post">
    <label for="name-input">Name</label>
    <input type="text" name="name-input" id="name-input">
    <br><br>
    <label for="phone-input">Phone</label>
    <input type="text" name="phone-input" id="phone-input">
    <br><br>
    <label for="street-input">Street</label>
    <input type="text" name="street-input" id="street-input">
    <br><br>
    <label for="city-input">City</label>
    <input type="text" name="city-input" id="city-input">
    <br><br>
    <label for="state-input">State</label>
    <input type="text" name="state-input" id="state-input">
    <br><br>

    <button type="submit">Add contact</button>
  </form>
</div>
<br>

<p><a href="/">Back</a></p>
