<h1>Address Book</h1>
<ul>
  @for(int i = 0; i < @Model.Count; i++)
  {
    <li><a href="/contact/@Model[i].GetId()">@Model[i].GetName()</a></li>
  }
</ul>

<h4><a href="/contact">Add a new contact</a></h4>
<form action="/contacts/clear" method="post">
  <button type="submit">Clear all contacts</button>
</form>
